.card {
    width: 250px;
    height: 375px;
    border: 0.5px solid lightgray;
    border-radius: 10px;
}

.cardImage {
    width: 250px;
    border-radius: 10px;
}

.card {
    display: inline-block;
    overflow: hidden;
}

.card img {
    transition: 1s;
    display: block;
}

.card img:hover {
    transform: scale(1.2);
}

.linkStyle {
    width: 250px;
}

@media (width: 360px) {}

@media (width: 768px) {
    .card {
        width: 235px;
        height: 345px;
    }

    .cardImage {
        width: 235px;
    }

}