.header {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 40px;
}

.leftBlock,
.rightBlock {
    display: flex;
}

.rightBlock {
    width: 500px;
    margin-left: 200px;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 500px;
    color: lightgray;
    margin-left: 30px;
}

.nav a {
    text-decoration: none;
    color: lightgray;
}

.nav a:hover,
.search:hover {
    color: #FFFF;
}

.search {
    color: lightgray;
}

.headerButton {
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(49, 13, 83);
    background-color: rgb(49, 13, 83);
    color: #FFFF;
    margin-left: 40px;
}

.headerButton:hover {
    background-color: rgb(91, 32, 146);
}

.search {
    border-right: 1px solid gray;
    width: 80px;
}

.addPromo {
    margin-left: 20px;
    padding-left: 20px;
    width: 200px;
    border-left: 1px solid gray;
    color: lightgray;
}

.addPromo:hover {
    color: #FFFF;
}

.LogIn {
    margin-left: 40px;
    width: 100px;
    color: lightgray;
}

.LogIn:hover {
    color: #FFFF;
}