.header {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 40px;
}

.leftBlock,
.rightBlock {
    display: flex;
}

.rightBlock {
    width: 500px;
    margin-left: 100px;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 500px;
    color: lightgray;
    margin-left: 30px;
}

.nav a {
    text-decoration: none;
    color: lightgray;
}

.nav a:hover,
.search:hover {
    color: #FFFF;
}

.search {
    color: lightgray;
}

.headerButton {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(49, 13, 83);
    background-color: rgb(49, 13, 83);
    color: #FFFF;
    margin-left: 30px;
}

.headerButton:hover {
    background-color: rgb(91, 32, 146);
}

.search {
    width: 70px;
}

.addPromo {
    margin-left: 40px;
    padding-left: 20px;
    width: 350px;
    color: lightgray;
    display: flex;
    align-items: center;
}

.addPromo span {
    margin-left: 5px;
}

.addPromo:hover {
    color: #FFFF;
}

.LogIn {
    margin-left: 50px;
    width: 150px;
    color: lightgray;
    display: flex;
    align-items: center;
}

.LogIn:hover {
    color: #FFFF;
}